.btn__addTask {
    position: fixed;
    bottom: 30px;
    right: 50px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #9395d3;
    color: #fff;
    font-size: 28px;
    box-shadow: 0 4px 4px #00000040;
}